@import "./node_modules/bootstrap/scss/bootstrap";

.wrapper {
  margin-top: 25px;
}

.bg-color{
  background-color: #f8f9fa;
}

.link-text{
  color: black;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
  &:hover{
    color: #535353;
  }
}

.active{
  background-color: #B0A8B9;
  border-radius: 10px;
}
.nav-bar_margin{
  margin-left: 25px;
}