@import "./node_modules/bootstrap/scss/bootstrap";

.wrapper {
  margin-top: 25px;
}

.link-text{
  color: #051937;
  font-size: 24px;
  transition: all 0.2s ease-in-out;
  &:hover{
    color: #ebce12;
  }
  @media screen and (max-width: 1200px) {
    font-size: 20px;
  }
  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
    
  }
    


.nav-bar_margin{
  margin-left: 25px;
}

.nav-bar_link{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  &::before {
      content: "";
      display: block;
      position: absolute;
      background-image: url("../../images/logo.png");
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 50px;
      height: 50px;
      left: -50px;
      z-index: -1;
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      border: #051937 1px solid;
      border-radius: 10px;
      height: 50px;
      right: -8px;
      top: 50%;
      transform: translateY(-50%);
      z-index: -1;

    }

    @media screen and (max-width: 1200px) {
      &::before {
        width: 30px;
        height: 30px;
        left: -30px;
      }
      &::after {
        height: 30px;
        right: -5px;
      }
    }
    @media screen and (max-width: 992px) {
      &::before {
        width: 20px;
        height: 20px;
        left: -20px;
      }
      &::after {
        height: 20px;
        right: -3px;
      
    }
      
    }
}


.logo-link__text{
  font-size: 20px;
  color: #ebce12;
  font-weight: 700;
  @media screen and (max-width: 1200px) {
    font-size: 16px;
  }
  @media screen and (max-width: 992px) {
    font-size: 12px;
    
  }
}

.hover{
  transition: all 0.2s ease-in-out;
  &:hover{
    transform: rotate(35deg) scale(1.1);
    fill: #1b4c96;

  }
}