@import "./node_modules/bootstrap/scss/bootstrap";

.wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}
.nav-items{
  
  
}
.item{


}

.item-button{
  border:  none;
  background-color: inherit;
  font-weight: 700;

  &:hover{
    transform: scale(1.1);
    border-radius: 10px;
    background-color: #fdfdfd;
   }
}

.span-color{
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
