@import "./node_modules/bootstrap/scss/bootstrap";

.wrapper {
  margin-top: 50px;
  margin-bottom: 50px;
}

.item-button{
  border:  none;
  background-color: inherit;
  font-weight: 700;

  &:hover{
    transform: scale(1.1);
    border-radius: 10px;
    background-color: #bb4162;
   }
}

.span-color{
  color: #602e61;
}
